{# src/Dpp/CustomersBundle/Resources/views/Products/productForm.html.twig #}
 {% form_theme form 'DppCustomersBundle:Default:fields.html.twig' %}
 
<script type="text/javascript" src="{{ asset('js/dppTabPromo.js') }}"></script>

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="txtjaune">{{ flashMessage }}</div>
{% endfor %} 
<div class="txtred">{{ form_errors(form.urlRef) }}</div>
<div class="row">
        <form method="post"  Onsubmit="return DppComputeTabCode($('#dpp_customersbundle_product_producttype_promoCodes'))"   {{ form_enctype(form) }}>
          <div class="txtred">{{ form_errors(form) }}</div>
            <div class="row">
                <div class="span1"></div>
                <div class="span5">
                    {{ form_row(form.customerName) }} 
                </div>
                <div class="span5">
                    
                </div>
            </div>
            <div class="row">
                <div class="span1"></div>
                <div class="span5">
                    {{ form_row(form.name) }} 
                </div>
                <div class="span5">
                    {{ form_label(form.urlRef) }} {{ form_widget(form.urlRef) }}  
                </div>
            </div>
            <div class="row">
                <div class="span1"></div>
                <div class="span5">
                    {{ form_row(form.pricingType) }} 
                </div>
                <div class="span5">
                    {{ form_row(form.state) }} 
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="row">
                <div class="span2"></div>
                <div class="span5">
                    <H4>{{ "Dpp.global.promoCodes"|trans }}</H4>
                </div>    
            </div>
            <div class="row">
                <div class="span2">&nbsp</div>
                <div class="span2">Nb des visites</div>
                <div class="span2">Code promo</div>
                <div class="span3">Message</div>
            </div>
            <div class="row">
                <div class="span2">&nbsp</div>
                <div class="span2"><input type="number" name="visites" id="visites" /></div>
                <div class="span2"><input type="text" name="code" id="code" /></div>
                <div class="span3"><input type="text"  size="64" name="message" id="message" /></div>
                <div class="span3"><input type="button" class="btn " onclick="DppAddRow($('#dpp_customersbundle_product_producttype_promoCodes'));" value="Ajouter un code"/></div>
            </div>
            <div class="row">
                <div class="span2">&nbsp</div>
                <div class="span10">
                    <table id="tableau" border="1">
                        <thead>
                            <tr>
                                <th class="span1">Nb Visites</th>
                                <th class="span1">Code</th>
                                <th class="span4">Texte</th>
                                <th class="span1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if tabPromoCodes %}
                                {% for ligCode in tabPromoCodes %}
                                    <tr>
                                        <td>{{ ligCode[0] }}</td>
                                        <td>{{ ligCode[1] }}</td>
                                        <td>{{ ligCode[2] }}</td>
                                        <td><a href"#"  onclick="DppDeleteRow(this);"><img src="/dynaprice/web/img/delete_obj.gif"></a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table><br><br>
                </div>
            </div>
            <div class="row">
                <div class="span2">&nbsp</div>
                <div class="span2"> 
                    <a href=" {{ returnUrl }} " class="btn "><i class="icon-chevron-left"></i>Cancel</a>        
                </div>
                <div class="span2"> 
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>