{# src/Dpp/DemoBundle/Resources/views/Demo/productsFOListAll.html.twig #}
 
{% extends "DppDemoBundle::layout.html.twig" %}

{% block title %}
    Liste  - {{ parent() }}
{% endblock %}

{% block Dpp_body %}
<script>
    dpp_request('access','*');
</script>
<script>
    dpp_request('product','ttest.html');
</script>
<div class="row span12">
<h3>{{ 'Dpp.product.liste'|trans }} </h3>: 
{% if products %}
    <table class="table-bordered">
        <thead>
            <tr>
                <th class="span2">{{ 'Dpp.product.customer'|trans }}</th>
                <th class="span3">{{ 'Dpp.product.name'|trans }}</th>
                <th class="span3">{{ 'Dpp.product.urlRef'|trans }}</th>

            </tr>
        </thead>   
        <tbody>

        {% for product in products %}
        
        <tr>
            <td>{{ product.customer.name }}</td>
            <td><a href="{{ path('dpp_demo_view', {'reference': product.urlRef}) }}">{{ product.name }}</a></td>
            <td><a href="{{ path('dpp_demo_view', {'reference': product.urlRef}) }}">{{ product.urlRef }}</a</td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ 'Dpp.product.notfound'|trans }}
{% endif %}
    <div class="row"><br><br></div>
</div>  
{% endblock %}
  
