{# src/Dpp/CustomersBundle/Resources/views/Customer/customerUpdateForm.html.twig #}


<script type="text/javascript" src="{{ asset('js/dppTabPromo.js') }}"></script> 
    <div class="row">
        <form method="post"  Onsubmit="return DppComputeTabCode($('#dpp_customersbundle_customers_customertype_promoCodes'))"   {{ form_enctype(form) }}>
            <div class="txtred">{{ form_errors(form) }}{{ form_errors(form.importType) }}{{ form_errors(form.defaultMsg) }}</div>
            <div class="zone-bordered ">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-1">{{ form_label(form.name) }}</div><div class="col-sm-3 col-lg-3">{{ form_widget(form.name) }}</div>
                    <div class="col-sm-2 col-lg-2 ">{{ form_label(form.domaine) }}</div><div class="col-sm-2 col-lg-2">{{ form_widget(form.domaine) }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-1">{{ form_label(form.pricingType) }}</div><div class="col-sm-3 col-lg-3">{{ form_widget(form.pricingType) }}</div>
                    <div class="col-sm-2 col-lg-2">{{ form_label(form.visitTimeInterval) }}</div><div class="col-sm-2 col-lg-2">{{ form_widget(form.visitTimeInterval) }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-1">{{ form_label(form.importType) }}</div><div class="col-sm-3 col-lg-3">{{ form_widget(form.importType) }}</div>
                    <div class="col-sm-2 col-lg-2">{{ form_label(form.defaultMsg) }}</div><div class="col-sm-2 col-lg-3">{{ form_widget(form.defaultMsg) }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1 col-lg-3 col-lg-offset-1">{{ form_label(form.autoAcquisition) }}</div><div class="col-sm-1 col-lg-1">{{ form_widget(form.autoAcquisition) }}</div>
                    <div class="col-sm-2 col-lg-2">{{ form_label(form.globalPromo) }}</div><div class="col-sm-1 col-lg-1">{{ form_widget(form.globalPromo) }}</div>
                    <div class="col-sm-2 col-lg-2">{{ form_label(form.categoryPromo) }}</div><div class="col-sm-1 col-lg-1">{{ form_widget(form.categoryPromo) }}</div> 
                </div>
                    {{ form_rest(form) }}
            </div>
            <div class="row">
                <h4 class="txtcentre">{{ "Dpp.global.promoCodes"|trans }}</h4>
            </div>    
            <div class="row">
                <div class="col-sm-2  col-lg-2 col-lg-offset-1">Nb des visites</div>
                <div class="col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-1">Code promo</div>
                <div class="col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-1">Message</div>
            </div>
            <div class="row">
                <div class="col-sm-1  col-lg-1 col-lg-offset-1"><input type="number" name="visites" id="visites" /></div>
                <div class="col-sm-1 col-sm-offset-2 col-lg-1 col-lg-offset-2"><input type="text" name="code" id="code" /></div>
                <div class="col-sm-2 col-sm-offset-2 col-lg-2 col-lg-offset-2"><input type="text"  size="64" name="message" id="message" /></div>
                <div class="col-sm-3 col-sm-offset-1 col-lg-2 "><a href="#" class="grph-btn" onclick="DppAddRow($('#dpp_customersbundle_customers_customertype_promoCodes'));">
                            <img src="/dynaprice/web/img/icones/add_obj.gif">&nbsp{{ "Dpp.global.add_code"|trans }}</a>                
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm-1  col-lg-1 " ></div>   
                <div class="table-responsive ">
                    <table id="tableau" class="table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="col-sm-1 col-sm-offset-1 col-lg-1">Nb Visites</th>
                                <th class="col-sm-1 col-lg-1">Code</th>
                                <th class="col-sm-1 col-lg-2">Texte</th>
                                <th class="col-sm-1 col-lg-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                {% if tabPromoCodes %}
                    {% for ligCode in tabPromoCodes %}
                        <tr>
                            <td>{{ ligCode[0] }}</td>
                            <td>{{ ligCode[1] }}</td>
                            <td>{{ ligCode[2] }}</td>
                            <td><a href"#"  onclick="DppDeleteRow(this);" class="btn-default"><img src="/dynaprice/web/img/icones/delete_obj.gif">&nbsp{{ "Dpp.global.delete"|trans }}</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                        </tbody>
                    </table><br><br>
                </div>
               <div class="col-lg-1 " ></div>  
            </div>
            <div class="row">
                <div class="col-sm-2 col-lg-2"> 
                    <a href=" {{ returnUrl }} " class="grph-btn "><i class="icon-chevron-left"></i>Cancel</a>        
                </div>
                <div class="col-sm-2 col-sm-offset-2 col-lg-2 col-lg-offset-2"> 
                    <input type="submit" class="btn pull-right btn-primary"  />      
                </div>
                <div class="col-sm-4 col-sm-offset-2 col-lg-4 col-lg-offset-2"> 
                    <div class="btn-group pull-right">
                        <button type="button" class="btn grph-btn ">Listes</button>
                        <button type="button" class="grph-btn pull-right dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href=" {{ listCategorysUrl }} ">{{ 'Dpp.category.liste'|trans }}<i class="icon-chevron-right"></i></a></li>
                            <li><a href=" {{ listProductsUrl }} ">{{ 'Dpp.product.liste'|trans }}<i class="icon-chevron-right"></i></a></li>
                        </ul>
                    </div>        
                </div>
            </div>   
        </form>
    </div>